<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./core</directory>
            <directory suffix=".php">./game</directory>
            <directory suffix=".php">./map</directory>
            <directory suffix=".php">./network</directory>
            <directory suffix=".php">./server</directory>
        </include>
    </source>
</phpunit>
